body
{
    margin: 0;
    padding: 0;
}
.space
{
    width: 100%;
    height: 50px;
}
.divmain
{
    width: 100%;
    height: auto;
    border: black solid 1px;
}
.font
{
    font-size: 100px;
    text-align: center;
}
.main
{
    width: 100%;
    height: auto;
    border: black solid 2px;
}
.border
{
    width: 80%;
    height: auto;
    border: black solid 1px;
}
p{
    font-size: 20px;
    width: 100%;
    height: auto;
}