.btndesktop
{
    width: 100%;
    height: 40px;
    background-color: black;
    border: green solid 1px;
    color: green;
}
.terminal
{
    width: 85px;
    height: 85px; 
    border: green solid 1px;
    background-color: black;
}
.btndesktop{
    width: 100%;
    height: 40px;
    border: green solid 1px;
}
.btn{
    width: 50px;
    height: 50px;
    border: green solid 1px;
    align-content: center;
}
